PORT = "YOUR PORT"

JWT_SECRET_KEY = "YOUR JWT SECRET KEY"

MONGO_URI = "YOUR URL CONNECT TO YOUR DB"

GOOGLE_CLIENT_ID = "YOUR GOOGLE CLIENT ID USING PASSPORT"

GOOGLE_CLIENT_SECRET = "YOUR GOOGLE CLIENT SECRET USING PASSPORT"

PASSPORT_SECRET_SESSION = "YOUR SECRET SESSION USING PASSPORT"

ADMINJS_SECRET_SESSION = "YOU ADMIN SECRET SESSION USING ADMINJS"

SENDGRID_API_KEY = "YOUR API KEY USING SENDGRID"

EMAIL_ADMIN = "YOUR DEFAULT EMAIL LOGIN IN ADMINJS PAGE"

PASSWORD_ADMIN = "YOUR DEFAULT PASSWORD LOGIN IN ADMINJS PAGE"

